{% extends 'base.html' %}

{% block body %}
<div class="form-wrapper">

    {% if form.errors %}
        <ul class="alert alert-danger">
        {% for error in form.errors %}
            Error: {{ form.errors[error][0] }}
        {% endfor %}
        </ul>
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-danger">
            {% for message in messages %}
                Error: {{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h5>Login</h5>

    <form method="POST" action="/login">

        {{ form.csrf_token }}

        <fieldset class="username">
            Username
            {{ form.username(placeholder="Enter Username") }}
        </fieldset>
            
        <fieldset class="password">
            Password
            {{ form.password(placeholder="Password") }}
        </fieldset>

        <button class="submit-button">
            {{ form.submit }}
        </button>
    
    </form>
    
    <div class="login-signup">
        <div>
        <span>Need an account?</span>
        <a href="/signup">Sign Up</a>
        </div>
    </div>

</div>
{% endblock %}