{% extends 'base.html' %}

{% block body %}

<link href="/static/default.css" rel="stylesheet">

<div id="tree-background" class="w-100">
    <div id="white-box" class="table-responsive">

        <div class="form-wrapper">

            {% if form.errors %}
                <ul class="alert alert-danger">
                {% for error in form.errors %}
                    Error: {{ form.errors[error][0] }}
                {% endfor %}
                </ul>
            {% endif %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="alert alert-danger">
                    {% for message in messages %}
                        Error: {{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h5 style="text-align: center;">Create Account</h5>

            <form method="POST" action="/signup">

                {{ form.csrf_token }}

                <fieldset class="name">
                    <label class="form-label">Name</label>
                    {{ form.name(placeholder="Enter Full Name", class='form-control form-control-sm') }}
                </fieldset>

                <fieldset class="username">
                    <label class="form-label">Username</label>
                    {{ form.username(placeholder="Enter Username", class='form-control form-control-sm') }}
                </fieldset>
                    
                <fieldset class="password">
                    <label class="form-label">Password</label>
                    {{ form.password(placeholder="Create Password", class='form-control form-control-sm') }}
                </fieldset>
                    
                <fieldset class="confirm_password">
                    <label class="form-label">Confirm Password</label>
                    {{ form.confirm_password(placeholder="Enter Password Again", class='form-control form-control-sm') }}
                </fieldset>
                    
                <fieldset class="email">
                    <label class="form-label">Email</label>
                    {{ form.email(placeholder="Enter Email", class='form-control form-control-sm') }}
                </fieldset>

                <fieldset class="phone">
                    <label class="form-label">Phone Number</label>
                    {{ form.phone(placeholder="Enter Phone Number", class='form-control form-control-sm') }}
                </fieldset>

                <div class="submit-button" style="margin-top: 10px; text-align: right;">
                    {{ form.submit(class="btn-sm btn-primary") }}
                </div>
            
            </form>
            
                <div class="login-signup" style="text-align: right;">
                <div>
                    <span class="fw-lighter">Existing account?</span>
                    <a href="/login">Login</a>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
